<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
    <input type="text" formControlName="firstName">
    <span class="alert"
        *ngIf="cadastroForm.get('firstName')?.errors && (cadastroForm.get('firstName')?.touched || cadastroForm.get('firstName')?.dirty)">
        O nome é obrigatório
    </span>
    <br />
    <input type="text" formControlName="lastName">

    <span class="alert"
        *ngIf="cadastroForm.get('lastName')?.errors && (cadastroForm.get('lastName')?.touched || cadastroForm.get('lastName')?.dirty)">
        Deve ter no mínimo {{ cadastroForm.get('lastName')?.errors?.minlength?.requiredLength }}, e você digitou {{ cadastroForm.get('lastName')?.errors?.minlength?.actualLength }}
        </span>

    <br />
    <input type="text" formControlName="email">

    <p>
        {{ cadastroForm.get('email')?.errors | json }}
    </p>

    <button [disabled]="cadastroForm.invalid">Enviar</button>
</form>