<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
    <input type="text" formControlName="firstName">
    <span class="alert"
        *ngIf="cadastroForm.get('firstName')?.errors && (cadastroForm.get('firstName')?.touched || cadastroForm.get('firstName')?.dirty)">
        O nome é obrigatório
    </span>
    <br />
    <input type="text" formControlName="lastName">

    <p>
        {{ cadastroForm.get('firstName')?.errors | json }}
        {{ cadastroForm.get('firstName')?.touched | json }}
        {{ cadastroForm.get('firstName')?.dirty | json }}
    </p>

    <button [disabled]="cadastroForm.invalid">Enviar</button>
</form>