<p *ngIf="condition; else elseBlock">true</p>
<ng-template #elseBlock>
    <p>false</p>
</ng-template>

<hr/>

<p *ngIf="conditionClick">True</p>
<p *ngIf="!conditionClick">False</p>
<p>
    <button (click)="onClick()">Clique</button>
</p>

<hr/>

<ul>
    <li *ngFor="let item of list; let i = index" (click)="onClickEventList(i)">[ {{i}} ] - {{item.nome}} - {{item.idade}}</li>
</ul>
<p>
    <button (click)="onClickAddList('Eduardo', 18)">Add</button>
</p>

<hr/>

<input type="text" [(ngModel)]="nome">
<div [ngSwitch]="nome">
    <p *ngSwitchCase="'paulo'">
        Paulo
    </p>

    <p *ngSwitchCase="'pedro'">
        Pedro
    </p>

    <p *ngSwitchDefault>
        Nenhum nome válido
    </p>
</div>