<!--
<ng-content select="h1"></ng-content>

<div *ngIf="nome != 'denner'">
    <p [ngClass]="{'active': valor, 'disabled': !valor}">NgClass</p>
    <p [ngStyle]="{'height': h, 'background': backgroundColor}">NgStyle</p>
</div>

<hr/>

<input type="text" [(ngModel)]="nome">
<button (click)="adicionarNaLista(nome)">Adicionar</button>

<ul>
    <li *ngFor="let item of list">{{item.nome}}</li>
</ul>

<ng-content select="hr"></ng-content>
-->

<!--
<ng-template ngFor let-item [ngForOf]="list">
    <p>{{item.nome}}</p>
</ng-template>
-->

<!--
<input type="text" [(ngModel)]="nome">
<button (click)="adicionarNaLista(nome)">Adicionar</button>

<ul>
    <li *ngFor="let item of list">{{item.nome | uppercase}}</li>
</ul>
-->

{{date | date: 'dd/MM/yyyy'}}