@use 'assets/css/variables.scss';
@use 'assets/css/reset.scss';
@use 'assets/css/rem-calc.scss';

html {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main {
    max-width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}