@import 'assets/css/variables.scss';
@import 'assets/css/reset.scss';
@import 'assets/css/rem-calc.scss';
@import 'assets/css/btn.scss';
@import 'assets/css/animation.scss';

html {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main {
	max-width: rem-calc(600);
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 auto;
}