@import 'assets/css/variables.scss';
@import 'assets/css/reset.scss';
@import 'assets/css/rem-calc.scss';

html {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main {
    width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}